/* Resetear algunos estilos por defecto */

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


/* Main content */
main {
    padding: 40px;
}

main .content {
    font-size: 1.2rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos de las tarjetas del jugador */
.jugador-tarjeta {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.jugador-tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilos de la imagen */
.jugador-imagen {
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-jugador {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo de la información del jugador */
.jugador-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jugador-info p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;
}

.jugador-info p strong {
    font-weight: bold;
}

.status-ok {
    color: green;
}

.status-lesionado {
    color: red;
}

.positivo {
    color: green;
}

.negativo {
    color: red;
}
.jugadores-contenedor {
    display: flex;
    flex-wrap: wrap;  /* Para que las tarjetas se ajusten a múltiples filas si es necesario */
    justify-content: space-around;  /* Espacio entre las tarjetas */
    gap: 20px;  /* Espacio entre las tarjetas */
}

.jugador-tarjeta {
    width: 250px;  /* Ancho de cada tarjeta */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jugador-tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

